{% extends "base.html" %}

{% block title %}{{ user1 }} vs {{ user2 }}{% endblock %}

{% block head %}
  <style>
  </style>
  <script>
    function redirect() {
          let user1 = document.getElementById('user1').value;
          let user2 = document.getElementById('user2').value;
          window.location = "/" + user1 + "/vs/" + user2;
        }
  </script>
{% endblock %}

{% block content %}
  <a class="button is-medium is-ghost" href="/">
    Letterboxd Compare
  </a>
  <h1 class="title is-4">
    Movies that <span class="title is-1">{{ user1 }}</span> has watched, but <span class="title is-1">{{ user2 }}</span> hasn't!
  </h1>
  <p class="subtitle">
  <a class="button is-link" href="/{{ user2 }}/vs/{{ user1 }}">Invert Comparison</a>
  <a class="button is-link" href="/{{ user2 }}/and/{{ user1 }}">And comparison</a>
  </p>
   <div class="columns is-multiline">
     {% for movie in diff %}
     <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile">
       <div class="card is-flex is-flex-direction-column">
         <div class="card-image">
           <figure class="image is-2by3">
             <img src="{{ movie.poster }}" alt="{{ movie.name }}">
           </figure>
         </div>
         <div class="card-content is-flex-grow-1" style="min-height: 120px;">
           <div class="content">
             <p class="title is-6"><a href="{{ movie.url }}">{{ movie.name }}</a></p>
             {% if movie.rating.is_some() %}
             <p class="subtitle is-7">{{ movie.rating.unwrap() }}</p>
             {% endif %}
           </div>
         </div>
       </div>
     </div>
     {% endfor %}
   </div>
{% endblock %}
