{% extends "base.html" %}

{% block title %}{{ user1 }} vs {{ user2 }}{% endblock %}

{% block content %}
  <a class="button is-medium is-ghost" href="/">
    Letterboxd Compare
  </a>
  <h1 class="title is-4">
    Movies that <span class="title is-1">{{ user1 }}</span> has watched, but <span class="title is-1">{{ user2 }}</span> hasn't!
  </h1>
  <p class="subtitle">
  <a class="button is-link" href="/{{ user2 }}/vs/{{ user1 }}">Invert Comparison</a>
  <a class="button is-link" href="/{{ user2 }}/and/{{ user1 }}">And comparison</a>
  </p>
   <div class="columns is-multiline">
     {% for card in cards %}
     {{ card|safe }}
     {% endfor %}
   </div>
{% endblock %}
